streamlit
langchain-google-genai
pdfplumber
python-docx
beautifulsoup4
requests
langchain
pymupdf  # Required for 'fitz
google-generativeai
beautifulsoup4
requests
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
lxml
